<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>PM2.5 Forecast</title>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>

<style>
body {
    font-family: Arial, sans-serif;
    background: #6182c5;
    margin: 0;
}

.container {
    max-width: 800px;
    margin: auto;
}

.card {
    background: rgb(255, 255, 255);
    border-radius: 12px;
    padding: 20px;
    margin-top: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    transition: background 0.6s ease;
}

canvas {
    width: 100% !important;
    height: 350px !important;
}

#location-select {
    padding: 8px;
    border-radius: 6px;
    margin-bottom: 10px;
    font-size: 14px;
    width: 100%;
}

.explanation-item {
    display: flex;
    justify-content: space-between;
    padding: 6px 0;
    border-bottom: 1px solid #eee;
    font-size: 14px;
}

.up {
    color: #e74c3c;
}

.down {
    color: #37db34;
}

#explanations {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 10px;
}

.driver-card {
    background: #f7f9fb;
    border-radius: 10px;
    padding: 10px;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,0.05);
}

.driver-title {
    font-weight: bold;
    margin-bottom: 6px;
    font-size: 13px;
}
</style>

</head>

<body>

<div class="container">

    <div class="card" id="aqi-card">

        <select id="location-select" onchange="loadData()">
            <option value="Gyor 2 Ifjusag">Gyor 2 Ifjusag</option>
            <option value="Gyor Ifjusag">Gyor Ifjusag</option>
            <option value="Gyor Szent Istvan" selected>Gyor Szent Istvan</option>
            <option value="VS">VS</option>
        </select>

        <h2 id="current">Loading...</h2>

    </div>

    <div class="card">
        <canvas id="chart"></canvas>
    </div>

    <div class="card">
        <h3>Drivers of the forecast</h3>
        <div id="explanations"></div>
    </div>

</div>

<script>

let chart = null;

/* ===== AQI COLOR ===== */
function getAQIColor(pm25) {
    if (pm25 <= 12) return "#d4edda";
    if (pm25 <= 35) return "#fff3cd";
    if (pm25 <= 55) return "#ffe5b4";
    return "#f8d7da";
}

async function loadData() {

    try {

        const location = document.getElementById("location-select").value;
        document.getElementById("current").innerText = "Loading...";
        const res = await fetch("/forecast", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                location_name: location
            })
        });

        const data = await res.json();

        const history = data.history || [];
        const forecast = data.forecast || [];

        if (!forecast.length) return;

        // ===== CURRENT =====
        const last = history[history.length - 1];

        const lastTime = new Date(last.datetime);

        // lokális formázás
        const timeStr = lastTime.toLocaleString("hu-HU", {
            hour: "2-digit",
            minute: "2-digit",
            day: "2-digit",
            month: "2-digit"
        });

        document.getElementById("current").innerText =
            location +
            " - Last measured: " +
            last.pm25.toFixed(2) +
            " µg/m³ (" + timeStr + ")";

        document.getElementById("aqi-card").style.background =
            getAQIColor(last.pm25);

        // ===== DATA (history + forecast) =====

        const historyPoints = history.map(p => ({
            x: new Date(p.datetime),
            y: p.pm25
        }));

        const forecastPoints = forecast.map(p => ({
            x: new Date(p.datetime),
            y: p.pm25_pred
        }));
        
        const lastPoint = historyPoints[historyPoints.length - 1];

        const datasets = [
            {
                label: "History",
                data: historyPoints,
                borderColor: "#3498db",
                tension: 0.3,
                pointRadius: 3
            },
            {
                label: "Forecast",
                data: [lastPoint, ...forecastPoints],
                borderColor: "#f39c12",
                borderDash: [6,4],
                tension: 0.3,
                pointRadius: 3
            }
        ];
        

        // ===== CHART =====
        if (!chart) {

            chart = new Chart(
                document.getElementById("chart"),
                {
                    type: "line",
                    data: {
                        datasets: datasets
                    },
                    options: {
                        responsive: true,
                        animation: false,
                        interaction: {
                            mode: 'nearest',
                            intersect: true
                        },
                        plugins: {
                            tooltip: {
                                mode: 'nearest',
                                intersect: true
                            }
                        },
                        scales: {
                            x: {
                                type: "time",
                                time: {
                                    unit: "hour",
                                    displayFormats: {
                                        hour: "HH:mm"
                                    }
                                },
                                ticks: {
                                    maxTicksLimit: 8,
                                    autoSkip: true,
                                    maxRotation: 0,
                                    minRotation: 0
                                }
                            }
                        }
                    }
                }
            );

        } else {

            chart.data.datasets = datasets;
            chart.update();
            chart.update();
        }


         // ===== SHAP EXPLANATIONS (ALL HOURS) =====

        const container = document.getElementById("explanations");
        container.innerHTML = "";

        if (data.explanations && data.explanations.length) {

            data.explanations.forEach(hour => {

                const card = document.createElement("div");
                card.className = "driver-card";

                const time = new Date(hour.datetime)
                    .toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' });

                const title = document.createElement("div");
                title.className = "driver-title";
                title.innerText = time;

                card.appendChild(title);

                hour.effects
                    .sort((a, b) => Math.abs(b.value) - Math.abs(a.value))
                    .slice(0, 5)
                    .forEach(e => {

                        const row = document.createElement("div");
                        row.className = "explanation-item";

                        const arrow = e.direction === "up" ? "↑" : "↓";
                        const cls = e.direction === "up" ? "up" : "down";

                        row.innerHTML = `
                            <span>${e.feature}</span>
                            <span class="${cls}">
                                ${Math.abs(e.value).toFixed(2)} ${arrow}
                            </span>
                        `;

                        card.appendChild(row);
                    });

                container.appendChild(card);
            });
        }

    } catch (e) {
        console.error("Error loading forecast:", e);
    }
}

// initial load
loadData();

</script>

</body>
</html>